# The Docker image that will be used to build your app
image: registry.gitlab.com/pages/hugo:latest

variables:
  HUGO_VERSION: "0.146.0"
  PAGES_BASEURL: "https://cuneyt_yildirim.gitlab.io/professionalblog/"

default:
  before_script:
    - apk add --update --no-cache git
    - git submodule update --init --recursive

pages:
  script:
    - hugo --environment production --minify --baseURL "$PAGES_BASEURL"
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
